body {
  background-color: #d5d5ce;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

p,
label {
  font-weight: bold;
}

menu {
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #757ba8;
}

#number_1,
#number_2,
#result {
  font-weight: bold;
}

.container-home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
#btn-home-page {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 20px;
}
#icon-home3 {
  padding-right: 10px;
}

.container-definitions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-home-page button,
.container-definitions button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home-page button svg,
.container-definitions button svg {
  margin-right: 5px;
}

.container-definitions li {
  margin: 10px 0;
}

#btn-home-page,
#btn-k,
#btn-w,
#btn-error,
#btn-law {
  background-color: #aaa5bc;
  border: none;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 999999px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.1s;
}

#btn-home-page:active,
#btn-k:active,
#btn-w:active,
#btn-error:active,
#btn-law:active {
  transform: scale(0.95);
}

.container-btn-home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#btn-modal-save,
#btn-save-test-result,
#btn-calculate,
#btn-clean {
  background-color: #9290b2;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 999999px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.1s;
}

#btn-modal-save:active,
#btn-save-test-result:active,
#btn-calculate:active,
#btn-clean:active {
  transform: scale(0.95);
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author > p {
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}

#icon-github,
#icon-facebook,
#icon-twitter,
#icon-instagram {
  cursor: pointer;
}

.social-media svg:not(:last-child) {
  margin-right: 10px;
}

.social-media svg {
  margin-right: 5px;
  transition: fill 0.3s;
}

.social-media svg:hover {
  fill: white;
}
