/* Resetowanie domyślnych stylów przeglądarki */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ogólne style */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
}

h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}

/* Styl nagłówka */
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50; /* Zmieniony kolor tła */
  color: #ecf0f1; /* Jasny kolor tekstu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dodany cień */
}

.container-header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container-header h1 {
  font-size: 1.8em; /* Zwiększona czcionka */
  margin: 0;
  font-family: "Montserrat", sans-serif; /* Nowoczesna czcionka */
}

#icon-cab {
  fill: #ecf0f1; /* Kolor ikony */
  margin-right: 10px; /* Odstęp między ikoną a tytułem */
}

#hamburger-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: invert(100%); /* Zmieniony kolor ikony na jasny */
  transition: transform 0.2s; /* Dodany efekt animacji */
}

#hamburger-icon:hover {
  transform: scale(1.1); /* Efekt powiększenia przy najechaniu */
}

/* Styl menu bocznego */
menu#side-menu {
  display: none; /* Ukryte domyślnie */
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 60%; /* Menu zajmuje 60% wysokości ekranu */
  background-color: #333;
  color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-top: 60px;
  overflow-y: auto; /* Dodaje pasek przewijania, jeśli zawartość jest zbyt długa */
  transform: translateX(100%);
  transition: transform 0.3s ease; /* Płynne przejście */
}

menu#side-menu.show {
  display: block; /* Wyświetla menu */
  transform: translateX(0); /* Przesuwa menu do widocznej części */
}

menu#side-menu .container-definitions {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

menu#side-menu .container-definitions a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

#close-menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Styl dla ikony zamykającej */
#close-menu-icon {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

#close-menu-icon:hover {
  color: #bbb;
}

/* Styl dla przycisku hamburgera */
#hamburger-icon {
  cursor: pointer;
}

/* Styl modalnego okna */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; /* Spowolnione wysuwanie */
}

.modal.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 10px; /* Zaokrąglenie narożników */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień dla efektu unoszenia */
}

/* Przyciski zamykania */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.close:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.close:active {
  transform: scale(0.9);
}

.close::before {
  font-size: 20px;
  color: #000;
}

/* Stylizacja etykiet w modal */
.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

/* Stylizacja inputów w modal */
.modal-content input[type="text"],
.modal-content input[type="number"] {
  width: calc(100% - 22px); /* Dopasuj szerokość do kontenera z paddingiem */
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Przycisk zapisz */
.modal-content #btn-modal-save {
  background-color: #4caf50; /* Zielony kolor */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px; /* Zaokrąglenie narożników */
}

.modal-content #btn-modal-save:hover {
  background-color: #45a049; /* Ciemniejszy zielony po najechaniu */
}

/* Stylizacja dla wyników */
.result-value {
  font-size: 18px;
  font-weight: bold;
}

.modal-position-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stylizacja sekcji kalkulacji */
.calculations {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff; /* Kolor tła dla sekcji kalkulacji */
  border-radius: 10px; /* Zaokrąglenie narożników */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień dla efektu unoszenia */
}

/* Stylizacja poszczególnych elementów w sekcji kalkulacji */
.const-k,
.factor-w,
.container-result {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.const-k label,
.factor-w label,
.container-result label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px; /* Powiększone etykiety */
  color: #2c3e50; /* Kolor etykiety */
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px; /* Maksymalna szerokość inputów */
  width: 100%;
}

.input-main-spacing {
  width: 100%;
  padding: 10px;
  padding-right: 50px; /* Miejsce na jednostkę */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.unit {
  position: absolute;
  right: 10px; /* Odstęp od prawej krawędzi inputu */
  font-size: 14px; /* Rozmiar czcionki dla jednostek */
  color: #888; /* Kolor czcionki dla jednostek */
  pointer-events: none; /* Aby kliknięcia nie wpływały na jednostkę */
}

/* Stylizacja przycisków w sekcji kalkulacji */
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Odstęp między przyciskami */
  align-items: center;
}

.btn-container button {
  width: 100%;
  max-width: 200px; /* Maksymalna szerokość przycisków */
  height: 45px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #3498db; /* Kolor przycisku */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-container button:hover {
  background-color: #2980b9; /* Ciemniejszy kolor przycisku po najechaniu */
  transform: scale(1.05);
}

.btn-container button:active {
  transform: scale(0.95);
}

/* Stylizacja wyników w sekcji test_result.html */
#testResultsContainer {
  display: grid;
  grid-template-columns: 1fr; /* Jedna kolumna domyślnie */
  gap: 20px; /* Odstęp między elementami */
  padding: 20px;
  box-sizing: border-box;
}

/* Stylizacja dla pojedynczego wpisu wyniku testu */
.test-result-entry {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.test-result-entry {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.test-result-entry p {
  margin: 5px 0;
}

.red-result {
  color: red;
  font-weight: bold;
}

.green-result {
  color: green;
  font-weight: bold;
}

.test-result-entry button {
  background-color: #e74c3c; /* Czerwony kolor przycisku */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.test-result-entry button:hover {
  background-color: #c0392b; /* Ciemniejszy czerwony po najechaniu */
}

/* Styl dla kontenera tekstu */
.container-text {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styl dla paragrafu wewnątrz kontenera */
.container-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 0;
}

/* Responsywne style */
@media only screen and (max-width: 767px) {
  .modal-content {
    width: 95%;
    padding: 20px;
  }

  .test-result-entry {
    width: 100%;
  }

  #btn-save-test-result,
  #btn-calculate,
  #btn-clean,
  #btn-measurement,
  #btn-remove-entry {
    width: 100%;
  }

  .container-text {
    width: 90%;
  }

  .calculations {
    padding: 15px;
  }

  .btn-container {
    flex-direction: column;
    gap: 10px; /* Mniejszy odstęp między przyciskami na mniejszych ekranach */
  }

  .btn-container button {
    width: 100%;
  }

  .container-text {
    padding: 15px;
    max-width: 100%;
  }

  .container-text p {
    font-size: 0.9rem;
  }
}

/* Stylizacja dla większych ekranów */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #testResultsContainer {
    grid-template-columns: 1fr 1fr; /* Dwie kolumny */
  }

  .test-result-entry {
    width: 100%; /* Zwiększona szerokość */
  }

  .modal-content {
    width: 80%;
  }

  .calculations {
    padding: 20px;
  }

  .btn-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-container button {
    width: 100%;
    max-width: 150px;
  }
}

@media only screen and (min-width: 1025px) {
  #testResultsContainer {
    grid-template-columns: 1fr 1fr 1fr; /* Dwie kolumny zamiast trzech */
  }

  .test-result-entry {
    width: 80%; /* Zwiększona szerokość */
  }

  .modal-content {
    width: 70%;
  }

  .calculations {
    padding: 20px;
  }

  .btn-container {
    flex-direction: row;
    gap: 15px;
  }

  .btn-container button {
    max-width: 200px;
  }
}
