.title {
  padding-right: 20px;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Punkty przerwania od 320px do 479px */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .container-home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  #btn-home-page {
    display: flex;
    align-items: center;
  }
  #icon-home3 {
    padding-right: 10px;
  }

  .container-definitions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-home-page button,
  .container-definitions button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-home-page button svg,
  .container-definitions button svg {
    margin-right: 5px;
  }

  .container-definitions li {
    margin: 10px 0;
  }

  #btn-k,
  #btn-w,
  #btn-error,
  #btn-law {
    width: 140px;
    height: 40px;
    padding: 20px;
  }

  .const-k,
  .factor-w,
  .container-result {
    display: inline-flex;
    align-items: center;
  }

  .btn-container {
    padding-top: 15px;
  }

  .btn-container li {
    display: flex;
    margin: 20px 0;
  }

  #btn-calculate,
  #btn-clean {
    width: 100px;
    height: 40px;
  }

  .calculations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #number_1,
  #number_2,
  #result {
    width: 100px;
    height: 40px;
    box-sizing: border-box;
  }
}

/* Punkty przerwania od 480px do 1199px */
@media only screen and (min-width: 480px) and (max-width: 1199px) {
  /* Twój kod CSS dla tego zakresu */
}

/* Punkty przerwania powyżej 1200px */
@media only screen and (min-width: 1200px) {
  /* Twój kod CSS dla tego zakresu */
}
