* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
}

h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container-header h1 {
  font-size: 1.8em;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#icon-cab {
  fill: #ecf0f1;
}

#icon-home3 {
  fill: #ecf0f1;
  margin-right: 0px;
}

#hamburger-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: invert(100%);
  transition: transform 0.2s;
}

#hamburger-icon:hover {
  transform: scale(1.1);
}

menu#side-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 60%;
  background-color: #333;
  color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-top: 60px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

menu#side-menu.show {
  display: block;
  transform: translateX(0);
}

menu#side-menu .container-definitions {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

menu#side-menu .container-definitions a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

#close-menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
}

#close-menu-icon {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

#close-menu-icon:hover {
  color: #bbb;
}

#hamburger-icon {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.close:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.close:active {
  transform: scale(0.9);
}

.close::before {
  font-size: 20px;
  color: #000;
}

.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

.modal-content input[type="text"],
.modal-content input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content #btn-modal-save {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content #btn-modal-save:hover {
  background-color: #45a049;
}

.result-value {
  font-size: 18px;
  font-weight: bold;
}

.modal-position-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculations {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.const-k,
.factor-w,
.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.const-k label,
.factor-w label,
.container-result label {
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
}

.input-wrapper-calculate {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
}

.input-main-spacing-calculate {
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  border: 3px solid #2c3e50;
  border-radius: 8px;
  font-size: 18px;
  color: #2c3e50;
  background-color: #ecf0f1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-main-spacing-calculate:focus {
  border-color: #1a242f;
  box-shadow: 0 0 8px rgba(26, 36, 47, 0.4);
  outline: none;
}

.input-main-spacing {
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  border: 2px solid #2980b9;
  border-radius: 8px;
  font-size: 18px;
  color: #2c3e50;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-main-spacing:focus {
  border-color: #1f6d9c;
  box-shadow: 0 0 8px rgba(31, 109, 156, 0.4);
  outline: none;
}

.unit {
  position: absolute;
  right: 15px;
  font-size: 16px;
  color: #2980b9;
  pointer-events: none;
}

.input-spacing {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-capitalize-letters {
  text-transform: capitalize;
}

.input-locked {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn-container button {
  width: 100%;
  max-width: 200px;
  height: 45px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #3498db;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-container button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.btn-container button:active {
  transform: scale(0.95);
}

#testResultsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.test-result-entry {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.test-result-entry {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.test-result-entry p {
  margin: 5px 0;
}

.red-result {
  color: red;
  font-weight: bold;
}

.green-result {
  color: green;
  font-weight: bold;
}

.test-result-entry button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.test-result-entry button svg {
  margin-right: 8px;
  fill: white;
}

.test-result-entry button:hover {
  background-color: #c0392b;
}

.test-result-entry button:active {
  transform: scale(0.95);
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.container-text {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .modal-content {
    width: 95%;
    padding: 20px;
  }

  .test-result-entry {
    width: 100%;
  }

  #btn-save-test-result,
  #btn-calculate,
  #btn-clean,
  #btn-measurement,
  #btn-remove-entry {
    width: 100%;
  }

  .container-text {
    width: 90%;
  }

  .calculations {
    padding: 15px;
  }

  .btn-container {
    flex-direction: column;
    gap: 10px;
  }

  .btn-container button {
    width: 100%;
  }

  .container-text {
    padding: 15px;
    max-width: 100%;
  }

  .container-text p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #testResultsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .test-result-entry {
    width: 100%;
  }

  .modal-content {
    width: 80%;
  }

  .calculations {
    padding: 20px;
  }

  .btn-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-container button {
    width: 100%;
    max-width: 150px;
  }
}

@media only screen and (min-width: 1025px) {
  #testResultsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .test-result-entry {
    width: 80%;
  }

  .modal-content {
    width: 70%;
  }

  .calculations {
    padding: 20px;
  }

  .btn-container {
    flex-direction: row;
    gap: 15px;
  }

  .btn-container button {
    max-width: 200px;
  }
}
